// Regular CSS
html {
  font-size: 16px;
  line-height: 1.5;
}

// Nib
.nib
  fixed: bottom right;

// Axis
.axis
  code
    code(color = #DF5C33)

// Rupture
.rupture
  +above(360px)
    background: red;

// Jeet
.jeet
  center(1024px, 0)

// Typographic
.typographic
  t-html()

// Autoprefixer
.autoprefixer
  display: flex;
  border-radius: 4px;
